body{
	background-color: #d9c6a0;
	font-family: arial;
	font-size: 14px;
}

img{
	width:200px;
}

h4{
	color: green;
	font-size:28px;
}

body, .S_page {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center top;
}